.App {
  text-align: center;
  background-color: rgb(29, 29, 29); ;
  width: 80%;
  padding: 30px;
  margin-inline: auto;
  border-radius: 30px;
  position: relative;
  
}
button{
  cursor: pointer;
}
h1{
  font-size: 2.5rem;
}
body{
  height: 100dvh;
  background-color: rgb(19, 19, 19);
  display: grid;
  place-items: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  position: relative;
  
}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  color: rgb(255, 249, 165);
  font-size: 1.1rem;
  position: relative;
}
.inputForm {
  width: 300px;
  border-radius: 30px;
  padding: 10px 15px;
  outline: none;
  border: none;
  background-color: rgb(134, 151, 151);
}
.dateLog{
  padding: 10px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: rgb(207, 207, 207);
  color: rgb(46, 46, 46);
}
.taskContainer{
  display: flex;
  gap: 20px;
  align-items: center;
}
.Importance{
  display: flex;
  gap: 20px;
  width: fit-content;
  align-items: center;
}
.submitBtn{
  margin-left: 30px;
  border: none;
  outline: none;
  background-color: rgb(159, 89, 240);
  color: rgb(228, 228, 228);
  padding: 13px 40px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.2rem;
  border-radius: 50px;
}
.list{
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.listItem{
  background-color: rgb(63, 63, 63);
  color: rgb(240, 240, 240);
  width: 90%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.removeBtn{
  border-radius: none;
  color: white;
  background-color: rgb(252, 89, 89);
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 15px;
}
.task-urgent::before{
  content: "";
  position: absolute;
  height: 70%;
  background-color: rgb(253, 108, 108);
  left: 0px;
  top: 15%;
  width: 4px;
  border-radius: 20px;
}
.task-normal::before{
  content: "";
  position: absolute;
  height: 70%;
  background-color: rgb(90, 203, 255);
  left: 0px;
  top: 15%;
  width: 4px;
  border-radius: 20px;
}
.task-soon::before{
  content: "";
  position: absolute;
  height: 70%;
  background-color: rgb(106, 255, 87);
  left: 0px;
  top: 15%;
  width: 4px;
  border-radius: 20px;
}
.btnContainer{
  display: flex;
  gap: 20px;
}
.doneBtn{
  border-radius: none;
  color: white;
  background-color: rgb(31, 143, 3);
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 15px;
}
.tasksDone{
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: rgb(197, 44, 197);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border:none;
  outline: none;
  font-size: 1.1rem;
  color: white;
  display: grid;
  place-items: center;
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
}
.navigation{
  width: 80%;
  display: flex;
  align-items: center;
}